.product-list {
  font-family: Arial, sans-serif;
  padding: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.title {
  font-size: 30px;
  color: #F45B69;
}

.new-product-button {
  padding: 10px 20px;
  border-radius: 20px;
  background-color: #ffffff;
  border: 2px solid #00b733;
  font-size: 18px;
  color: #00b733;
  cursor: pointer;
}

.new-product-button:hover {
  background-color: #00b733;
  color: #ffffff;
}

.input-filter {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 20px;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table th, .table td {
  border: 1px solid #ddd;
  padding: 8px;
}

.table th {
  background-color: #f2f2f2;
  text-align: left;
}

.table tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

.table tbody tr:hover {
  background-color: #e9e9e9;
}

.actions button {
  margin-right: 5px;
  padding: 5px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.actions button:hover {
  background-color: #dddddd;
}

.options-product {
  width: 20px;
  height: 20px;
  background-size: cover;
  background-position: center top;
}

.bnts-products {
  background: none;
  border: none;
}

.bnts-products:hover {
  background-color: lightgray;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

.bnts-products:active {
  transform: scale(0.95);
  transition: transform 0.1s ease;
}


