<app-menu></app-menu>

<app-pop-message [typeOfAlert]="typeOfAlert"
  [showSuccessMessage]="showSuccessMessage" [message]="messagePopAd">
</app-pop-message>


<div class="container-wrapper">
  <div class="catalogue-container">
    <div class="product-card" *ngFor="let article of articles">

      <app-product-catalogue
        [routerLink]="article._id"
        [cardWidth]="'100%'"
        [imageUrl]="article.images[0]"
        [text]="article.name_article"
        [price]="article.retail_price | currency:'COP':'symbol':'1.2'"
      >
      </app-product-catalogue>
    </div>
  </div>
</div>
