<app-menu></app-menu>


<div class="register-form">
  <h2 class="title">REGÍSTRATE</h2>
  <p class="description">Ingresa tus datos personales y disfruta de una experiencia de compra más rápida.</p>

  <div class="form-row">
    <div class="input-group">
      <label>Nombre</label>
      <input type="text" placeholder="Nombre" class="input-field">
    </div>
    <div class="input-group">
      <label>Apellidos</label>
      <input type="text" placeholder="Apellidos" class="input-field">
    </div>
  </div>

  <div class="form-row">
    <div class="input-group">
      <label>Tipo de Documento</label>
      <input type="text" placeholder="Tipo de Documento" class="input-field">
    </div>
    <div class="input-group">
      <label>N° de Documento</label>
      <input type="text" placeholder="N° de Documento" class="input-field">
    </div>
  </div>

  <div class="form-row">
    <div class="input-group">
      <label>Celular</label>
      <input type="text" placeholder="Celular" class="input-field">
    </div>
    <div class="input-group">
      <label>Correo Electrónico</label>
      <input type="email" placeholder="Correo Electrónico" class="input-field">
    </div>
  </div>

  <div class="input-group pass">
    <label>Contraseña</label>
    <input type="password" placeholder="Contraseña" class="input-field">
  </div>

  <div class="checkbox">
    <input type="checkbox" id="terms" name="terms">
    <label for="terms">Acepto los TÉRMINOS Y CONDICIONES y autorizo el tratamiento de mis datos personales.</label>
  </div>

  <div class="btn_register">
    <button class="register-button">REGISTRARME</button>
  </div>

</div>



