/* shopping-cart.component.css */

.cart-container {
  font-family: 'Ubuntu', sans-serif;
  padding: 20px;
  width: 250px;
  height: 400px;
}

.products-list{
  height: 55%;
  overflow-y: auto;
}

.before-list{
  height: 100%;
}

.cart-title {
  font-size: 15px;
}

hr {
  margin-bottom: 20px;
}

.cart-item {
  display: flex;
  margin-bottom: 20px;
}

.product-image {
  width: 80px;
  height: 80px;
  object-fit: cover;
  margin-right: 20px;
}

.product-title {
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 5px;
}

.quantity-controls button {
  padding: 5px 10px;
  font-size: 10px;
}

.cart-summary {
  margin-top: 20px;
  justify-content: space-between;
}

.cart-summary p{
  font-size: 13px;
}

.checkout-button {
  background-color: #F45B69;
  color: white;
  font-size: 9px;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
}

.empty-cart-message {
  font-size: 9px;
  margin-bottom: 20px;
}

.continue-shopping-button {
  background-color: #F45B69;
  color: white;
  font-size: 16px;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
}


.detele_ico{
  margin-bottom: 1px;
  width: 24px;
  height: 17px;
  background-size: cover;
  background-position: center;
  position: relative;
  cursor: pointer;
}

.detele_ico:hover {
  background-color: lightgray; /* Color de fondo al pasar el cursor */
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); /* Sombra al pasar el cursor */
  transition: background-color 0.3s ease, box-shadow 0.3s ease; /* Transición suave */
}

.detele_ico:active {
  transform: scale(0.95); /* Reducir tamaño al hacer clic */
  transition: transform 0.1s ease; /* Transición rápida */
}

