<div class="title">
  <h1> Encuentra accesorios acorde a tu personalidad</h1>
</div>

<div class="sub-rectangles" (click)="navigate('/catalogue/byCategory/Accesorios')">
  <div class="sub-rectangle" [style.background-image]="'url(../../../assets/grid_topics/correa.png)'">

  </div>

  <div class="sub-rectangle" [style.background-image]="'url(../../../assets/grid_topics/bolso.png)'">

  </div>

  <div class="sub-rectangle" [style.background-image]="'url(../../../assets/grid_topics/bolsas.png)'">

  </div>
</div>
