<div class="product-list" *ngIf="!stadeEdit">
  <div class="header">
    <h1 class="title">Categorías</h1>
    <button class="new-product-button" (click)="toEdit()"> Nueva categoria</button>
  </div>

  <table class="table">
    <thead>
      <tr>
        <th>Categoría</th>
        <th>Descripción</th>
        <th>Icono</th>
        <th>Imagen</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let category of categories">
        <td>{{ category.name_category }}</td>
        <td>{{ category.description_category }}</td>
        <td>
          <img [src]="category.url_icon" alt="Icono" width="50">
        </td>
        <td>
          <img [src]="category.url_image" alt="Imagen" width="100">
        </td>
        <td>
          <button  title="Ver">
            <i class="fas fa-eye"></i>
          </button>
          <button  title="Editar">
            <i class="fas fa-edit"></i>
          </button>
          <button  title="Borrar">
            <i class="fas fa-trash"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>


</div>
