<div class="carousel">
  <img src="../../../assets/carrousel/arrow-left.png" class="arrow arrow-left" hidden="true">
  <div class="banner">

    <img src="../../../assets/carrousel/example-banner.png" class="banner-image">

    <div class="text">
      <h1>NUEVA COLECCIÓN</h1>
      <p>Mantén tu estilo diario chic y a la moda con nuestra selección de más de 20 estilos entre los que elegir.</p>
      <a class="read-more" href="/catalogue" (click)="navigateRouter('')">Ver más</a>
    </div>
  </div>
  <img src="../../../assets/carrousel/arrow-right.png" class="arrow arrow-right" hidden="true">
  <div class="dots">
    <!-- Aquí se generan dinámicamente los puntos de navegación -->
  </div>
</div>
