.carousel {
  position: relative;
  display: flex;
  align-items: center;
}

.arrow {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.read-more{
  cursor: pointer;
}

.arrow-left {
  left: 0;
}

.arrow-right {
  right: 0;
}

.banner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
  font-family: 'Inter', sans-serif; /* Especifica la fuente Inter */
}

.text {
  flex: 1;
  width: 10%;
}

.text h1{
  font-size: 50px;
}

.banner-image {
  max-width: 40%;
}

.dots {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}

.dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #000;
  margin: 0 5px;
}
