<!--app-menu (showLoginPopup)="showLoginPopup()"></!--app-menu-->
<app-ads-top backgroundColor="#F45B69"></app-ads-top>
<app-carousel></app-carousel>
<div class="centered">
  <app-areas class="areas_block_one"></app-areas>
</div>
<div class="centered">
  <app-banner-accesorios class="areas_block_one"></app-banner-accesorios>
</div>
<div class="centered">
  <div class="banner-end" [style.background-image]="'url(../../../assets/grid_topics/banner.png)'">
    <h2>FREYA</h2>
    <a href="https://www.instagram.com/freyacolombia/?igsh=YzJmZ2w0aTY1aWFi&utm_source=qr" target="_blank">
      <p>Viste a la Moda</p>
    </a>
  </div>
</div>

