<div class="circle-container">

  <div >
    <div class="circle" [style.background-image]="'url(../../../assets/shop/Ellipse_vacio.png)'"></div>
    <p class="text">Información</p>
  </div>

  <div >
    <div class="circle" [style.background-image]="'url(../../../assets/shop/Ellipse_vacio.png)'"></div>
    <p class="text">Envío</p>
  </div>

  <div >
    <div class="circle" [style.background-image]="'url(../../../assets/shop/Ellipse_vacio.png)'"></div>
    <p class="text">Pago</p>
  </div>

</div>
