<div class="footer">
  <div class="left" >
    <div class="left-ico" [style.background-image]="'url(../../../assets/food/Branding.png)'"></div>
    <p>Vístete a la moda</p>
  </div>

  <div class="center">
    <p>Síguenos en:</p>
    <div class="social-icons">
      <div class="icon" [style.background-image]="'url(../../../assets/food/facebook.png)'"></div>
      <div class="icon" [style.background-image]="'url(../../../assets/food/instagram.png)'"></div>
      <div class="icon" [style.background-image]="'url(../../../assets/food/twitter.png)'"></div>
      <div class="icon" [style.background-image]="'url(../../../assets/food/correo.png)'"></div>
    </div>
  </div>
  <div class="right" >
    <p>Medios de pago</p>
    <div class="right-ico" [style.background-image]="'url(../../../assets/food/whatsapp.png)'"></div>
  </div>
</div>
