h1,h2,h3,label,p,a,span{
  font-family: 'Ubuntu', sans-serif;
}

.footer {
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #f8f8f8;
}

.left, .right {
  background-size: contain;
  background-repeat: no-repeat;
  padding: 20px;

  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.left-ico{
  width: 45px;
  height: 45px;
  background-repeat: no-repeat;
}

.right-ico{
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
}

.center {
  text-align: center;
}

.center p {
  margin: 0 0 10px 0;
}

.social-icons {
  display: flex;
  justify-content: center;
}

.icon {
  width: 40px;
  height: 40px;
  background-size: contain;
  background-repeat: no-repeat;
  margin: 0 10px;
}
