<div class="footer">
  <div class="left" >

    <a href="https://www.instagram.com/freyacolombia/?igsh=YzJmZ2w0aTY1aWFi&utm_source=qr" target="_blank">
      <div class="left-ico" [style.background-image]="'url(../../../assets/food/Branding.png)'">
      </div>
    </a>
    <a href="https://www.instagram.com/freyacolombia/?igsh=YzJmZ2w0aTY1aWFi&utm_source=qr" target="_blank">
      <p>Vístete a la moda</p>
    </a>
  </div>

  <div class="center">
    <p>Síguenos en:</p>
    <div class="social-icons">

      <a href="https://www.facebook.com/p/Freya-viste-a-la-moda-100063937483224/" target="_blank">
        <div class="icon" [style.background-image]="'url(../../../assets/food/facebook.png)'"></div>
      </a>

      <a href="https://www.instagram.com/freyacolombia/?igsh=YzJmZ2w0aTY1aWFi&utm_source=qr" target="_blank">
        <div class="icon" [style.background-image]="'url(../../../assets/food/instagram.png)'"></div>
      </a>

      <div hidden="true" class="icon" [style.background-image]="'url(../../../assets/food/twitter.png)'"></div>

      <a href="mailto:freyacolboy@gmail.com" target="_blank">
        <div class="icon" [style.background-image]="'url(../../../assets/food/correo.png)'"></div>
      </a>
    </div>
  </div>
  <div class="right" >
    <p>Medios de pago</p>
    <a href="https://api.whatsapp.com/send/?phone=%2B573108746952&text&type=phone_number&app_absent=0" target="_blank">
      <div class="right-ico" [style.background-image]="'url(../../../assets/food/whatsapp.png)'">
      </div>
    </a>
  </div>
</div>
