.banner {
  background-color: #F45B69;
  text-align: center;
  font-size: 17px;
  line-height: 1.5; /* Ajusta la altura de línea para centrar verticalmente el texto */

  font-family: 'Inter', sans-serif; /* Especifica la fuente Inter */
}

.banner p{
  padding: 8px;
}
