.space{
  height: 85px;
}

.search{
  border-radius: 30px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  position: fixed;
  top: 6%;
  left: 48%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  z-index: 10;
  width: 100vw;
}

.left img {
  margin-right: 20px; /* Margen adecuado al lado izquierdo */
}

.center {
  display: flex;
  align-items: center; /* Alinea verticalmente el texto dentro de los elementos span */
}

.center span {
  margin-right: 30px; /* Espacio entre cada elemento del menú */
  font-family: 'Ubuntu', sans-serif; /* Aplica la fuente Ubuntu */
  font-weight: bold; /* Aplica negrita al texto dentro de los elementos span */
  font-size: 15px;
}

.center span:hover {
  cursor: pointer;
}

.right{
  display: flex;
}

.right img {
  margin-left: 20px; /* Espacio entre cada icono a la derecha */
}

.logo_freya {
  height: 40px; /* Establece la altura del logo de Freya */
  margin-left: 40%; /* Ajusta el margen izquierdo según sea necesario */
  cursor: pointer;
}

.locate_icon_container {
  margin-top: 5px; /* Margen superior para los elementos con la clase "locate_icon" */
}

/* Estilos para el rectángulo pequeño con los botones */
.user-options {
  position: absolute;
  background-color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px;
  display:grid;
  left: 50%; /* Centra el elemento horizontalmente */
  transform: translateX(35vw); /* Corrige la posición centrando el elemento */
  z-index: 1000; /* Asegura que el elemento esté por encima de otros contenidos */
}

.card_show{
  position: absolute;
  transform: translateX(75vw);
  background-color: #fff;
  z-index: 1000;
  box-shadow:0px 15px 9px rgba(0, 0, 0, 0.2); /* Sombra con ángulo de 90 grados */
}

.user-options button {
  font-family: 'Ubuntu', sans-serif;
  font-size: 1em;
  margin: 5px;
  border: none;
  width: 100%;
  background-color: #fff;
  cursor: pointer;
}

.btn_navbar{
  cursor: pointer;
}


.background-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Fondo desvanecido gris */
  z-index: 999; /* Asegura que esté por encima de todos los demás elementos */
}

.btn_aut:hover{
  color: #F45B69;
}

.right img:hover{
  background-color:  rgba(0, 0, 0, 0.2);
  border-radius: 10px
}

.banner {
  height: 50vh;
  display: flex;
  gap: 10px;
  align-items: stretch;

  position: absolute;
  width: 100vw;
  z-index: 1000;
  background: white;
}

.banner-img {
      /* flex: 1; */
    /* background-size: cover; */
    /* background-position: center; */
    background-position: center top;
    background-repeat: no-repeat;
    height: 100%;
    /* width: auto; */
    width: 20%;
}

.txt-banner{
  width: 34%;
  display: flex;
  flex-direction: column;
  /* align-content: center; */
  align-items: center;
  padding: 30px;
  justify-content: flex-start;
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  font-size: 17px;
}

.txt-banner p{
  margin: 10px;
  cursor: pointer;
}

.txt-banner p:active {
  transform: scale(0.95); /* Reducir tamaño al hacer clic */
  transition: transform 0.1s ease; /* Transición rápida */
}

.txt-banner p:hover {
  background-color: lightgray; /* Color de fondo al pasar el cursor */
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); /* Sombra al pasar el cursor */
  transition: background-color 0.3s ease, box-shadow 0.3s ease; /* Transición suave */
}

.card-container{
  display: flex;
}

.amountCard{
  width: 16px;
  height: 16px;
  background-color: #F45B69;
  font-size: 14px;
  border-radius: 30px;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 1px;
  font-family: 'Ubuntu', sans-serif;
}
