.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px; /* Ajusta el espaciado según sea necesario */
}

.left img {
  margin-right: 20px; /* Margen adecuado al lado izquierdo */
}

.center {
  display: flex;
  align-items: center; /* Alinea verticalmente el texto dentro de los elementos span */
}

.center span {
  margin-right: 30px; /* Espacio entre cada elemento del menú */
  font-family: 'Ubuntu', sans-serif; /* Aplica la fuente Ubuntu */
  font-weight: bold; /* Aplica negrita al texto dentro de los elementos span */
  font-size: 15px;
}

.right img {
  margin-left: 20px; /* Espacio entre cada icono a la derecha */
}

.logo_freya {
  height: 40px; /* Establece la altura del logo de Freya */
  margin-left: 40%; /* Ajusta el margen izquierdo según sea necesario */
  cursor: pointer;
}

.locate_icon_container {
  margin-top: 5px; /* Margen superior para los elementos con la clase "locate_icon" */
}

/* Estilos para el rectángulo pequeño con los botones */
.user-options {
  position: absolute;
  background-color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px;
  display:grid;
  left: 50%; /* Centra el elemento horizontalmente */
  transform: translateX(35vw); /* Corrige la posición centrando el elemento */
  z-index: 1000; /* Asegura que el elemento esté por encima de otros contenidos */
}

.user-options button {
  font-family: 'Ubuntu', sans-serif;
  font-size: 1em;
  margin: 5px;
  border: none;
  width: 100%;
  background-color: #fff;
  cursor: pointer;
}

.btn_navbar{
  cursor: pointer;
}


.background-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Fondo desvanecido gris */
  z-index: 999; /* Asegura que esté por encima de todos los demás elementos */
}

.btn_aut:hover{
  color: #F45B69;
}
