<div class="navbar">
  <div class="left" >
    <a (click)="homeRoute()"><img class="logo_freya" src="../../../assets/menu/logo_freya.png" alt="Logo Freya"></a>
  </div>
  <div class="center">
    <span (click)="productsRoute('Female')">Mujer <img class="locate_icon" src="../../../assets/menu/chevron-down.png" alt="Chevron Down"></span>
    <span (click)="productsRoute('Male')">Hombre <img class="locate_icon" src="../../../assets/menu/chevron-down.png" alt="Chevron Down"></span>
    <span (click)="productsRoute('')">Accesorios</span>
    <span >Nosotros <img class="locate_icon" src="../../../assets/menu/chevron-down.png" alt="Chevron Down"></span>
    <span class="locate_icon_container">Tiendas </span>
  </div>
  <div class="right">
    <img class="btn_navbar" src="../../../assets/menu/Search.png" alt="Search">
    <img class="btn_navbar" (click)="profileRoute()" (mouseenter)="onUserIconHover()" src="../../../assets/menu/user.png" alt="User">
    <img class="btn_navbar" src="../../../assets/menu/heart.png" alt="Heart">
    <img class="btn_navbar" src="../../../assets/menu/Union.png" alt="Union">
  </div>
</div>

<!-- Rectángulo pequeño con botones -->
<div class="user-options" *ngIf="showUserOptions" (mouseenter)="onUserOptionsHover()" (mouseleave)="onUserOptionsLeave()">
  <!--button (click)="onUserIconClick()" >Inicia Sesión</-button-->
  <button class="btn_aut" (click)="showLoginPopup()" >Inicia Sesión</button>
  <button class="btn_aut" (click)="showRegisterPopup()">Regístrate</button>
</div>

<app-login-pop-up [showLoginBtn]="true" *ngIf="stadeLoginPopup"></app-login-pop-up>
<app-login-pop-up title="REGISTRARSE" [showRegisterBtn]="true" *ngIf="stadeRegisterPopup"></app-login-pop-up>
<div (click)="noStadeLoginPopup()" class="background-overlay" *ngIf="stadeBackGroundPopup"></div>

