<div class="about-us-container">
  <img src="https://res.cloudinary.com/ds9zdlkcc/image/upload/v1714184084/stores/w0rmzmwo7mtt5qhodjg3" alt="FREYA SAS Store" class="about-us-image"/>

  <div class="about-us-content">
    <h1 class="about-us-title">Quiénes Somos</h1>
    <p class="about-us-description">
      FREYA SAS es una boutique dedicada a la comercialización de ropa, enfocada en mujeres que quieran lucir frescas, cómodas y a la moda. Nuestro factor diferenciador son nuestros precios asequibles, con prendas a $20.000 y $25.000, sin descuidar la calidad y el visual merchandising de nuestras tiendas.
    </p>

    <h2 class="about-us-subtitle">Misión</h2>
    <p class="about-us-description">
      Ser una empresa líder en la comercialización de ropa, siendo reconocidos por su calidad y sus excelentes precios. Logramos satisfacer los deseos de nuestros consumidores y generar una experiencia distintiva.
    </p>

    <h2 class="about-us-subtitle">Visión</h2>
    <p class="about-us-description">
      Para el 2035, ser una empresa unidireccional en marca, distinción y atención, generando una experiencia de estatus, moda y elegancia, incursionando en nuevos mercados del país, manteniendo la filosofía de calidad y responsabilidad social, comprometida con la satisfacción de sus clientes y expectativas del mercado.
    </p>
  </div>
</div>
