p{
  font-family: 'Ubuntu', sans-serif;
}

.delivery-container {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: auto;
  border: 1px solid #6c757d88;
  border-radius: 30px;
}

.address-section {
  flex: 1;
  padding-right: 20px;
}

.address-title {
  font-family: 'Ubuntu', sans-serif;
  text-align: center;
  margin-bottom: 20px;
}


.address-list {
  margin-top: 20px;
  width: 90%;
  margin: auto;
}

.address-item {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #ffffff;
  border-radius: 5px;
  margin-bottom: 10px;
}

.verification-icon img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.edit-button {
  background-color: #ffffff;
  border: 1px solid #000000;
  border-radius: 5px;
  padding: 5px 10px;
  font-family: 'Ubuntu', sans-serif;
  cursor: pointer;
  height: 25px;
  transition: box-shadow 0.3s ease; /* Agrega transición suave */

  margin: 10px;
}

button:hover,
.edit-button:hover {
  background-color: lightgray;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Añade una sombra sutil al pasar el cursor */
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

button:active,
.edit-button:active {
  transform: scale(0.95); /* Reducir tamaño al hacer clic */
  transition: transform 0.1s ease; /* Transición rápida */
}

.summary-section {
  flex: 1;
  padding-left: 20px;
}

.totals div {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px; /* Aumenta el espacio entre los elementos de total */
  margin: center;
  width: 90%;
}


.totals div {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.continue-button {
  font-family: 'Ubuntu', sans-serif;
  font-size: 14px;
  color: white;
  background-color: #F45B69;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  cursor: pointer;
}

.address-info{
  width: 80%;
}

.address-edit{
  border: 1px solid #0000005b;
  border-radius: 30px;
  padding: 3px;
  width: 90%;
  display: flex;
  align-items: center;

}

.center{
  margin: auto;
  display: flex;
}


.noLogin{
  padding: 21px;
}


.newAddress{
  margin-top: 14px;
}


.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  margin-left: 12px;

  .header-button {
    border: 1px solid black;
    border-radius: 20px;
    background-color: white;
    font-family: 'Ubuntu', sans-serif;
    padding: 10px 20px;
    font-size: 14px;
  }
}

button:hover {
  background-color: lightgray; /* Color de fondo al pasar el cursor */
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); /* Sombra al pasar el cursor */
  transition: background-color 0.3s ease, box-shadow 0.3s ease; /* Transición suave */
}

button:active {
  transform: scale(0.95); /* Reducir tamaño al hacer clic */
  transition: transform 0.1s ease; /* Transición rápida */
}

